<template>
  <CpPage>
    <CpHeader />
    <CpContent>
      <CpEditor
        v-if="!binLoading"
        v-model="bin.content"
      />
    </CpContent>
    <CpFooter />
  </CpPage>
</template>

<script>
import { onMounted } from 'vue'
import { useRoute } from 'vue-router'
import { useFetchBin } from '@/api/binApi'
import CpPage from '@/components/CpPage'
import CpHeader from '@/components/CpHeader'
import CpContent from '@/components/CpContent'
import CpEditor from '@/components/CpEditor'
import CpFooter from '@/components/CpFooter'

export default {
  components: {
    CpPage,
    CpHeader,
    CpContent,
    CpEditor,
    CpFooter
  },

  setup () {
    const route = useRoute()
    const { result, loading, error, run } = useFetchBin()

    onMounted(async () => {
      await run(route.params.slug)
    })

    return {
      bin: result,
      binLoading: loading,
      binError: error
    }
  }
}
</script>
