<template>
  <CpPage>
    <CpHeader />
    <CpContent>
      <div class="flex mb-2 justify-end">
        <CpUrl
          v-if="generatedUrl != '' && !binLoading"
          :value="generatedUrl"
          class="mr-2 flex-grow-0 sm:flex-grow md:flex-grow-0 lg:flex-grow-0 xl:flex-grow-0"
        />
        <CpButton
          @click="createBin"
          :disabled="binLoading"
          class="flex-grow-0"
        >
          Create
        </CpButton>
      </div>
      <CpEditor
        v-model="payload.content"
        :loading="binLoading"
        class="mb-4"
      />
      <div class="text-right text-sm text-gray-800">
        * Will be auto-deleted after 15 minutes
      </div>
    </CpContent>
    <CpFooter />
  </CpPage>
</template>

<script>
import { ref, reactive } from 'vue'
import { useCreateBin } from '@/api/binApi'
import CpPage from '@/components/CpPage'
import CpHeader from '@/components/CpHeader'
import CpContent from '@/components/CpContent'
import CpButton from '@/components/CpButton'
import CpUrl from '@/components/CpUrl'
import CpEditor from '@/components/CpEditor'
import CpFooter from '@/components/CpFooter'

export default {
  components: {
    CpPage,
    CpHeader,
    CpContent,
    CpButton,
    CpUrl,
    CpEditor,
    CpFooter
  },

  setup () {
    const payload = reactive({
      content: ''
    })
    const generatedUrl = ref('')

    const { result, error, loading, run } = useCreateBin()

    async function createBin () {
      generatedUrl.value = ''

      await run(payload)

      generatedUrl.value = `${window.location}${result.slug}`
    }

    return {
      payload,
      generatedUrl,

      bin: result,
      binError: error,
      binLoading: loading,

      createBin
    }
  }
}
</script>
