<template>
  <button
    class="px-4 py-2 text-baseline rounded shadow-xs bg-orange-900 text-orange-100 leading-none"
    :disabled="disabled"
  >
    <slot />
  </button>
</template>

<script>
export default {
  props: {
    disabled: {
      type: Boolean,
      default: false
    }
  }
}
</script>
