<template>
  <div class="relative">
    <div
      id="editor"
      class="border"
    />
    <div
      v-if="loading"
      class="absolute bg-orange-300 bg-opacity-25 w-full h-full top-0 left-0 flex items-center justify-center"
    >
      <span>Loading...</span>
    </div>
  </div>
</template>

<script>
import CodeMirror from 'codemirror'
import 'codemirror/lib/codemirror.css'
import { computed, onMounted, onUnmounted, ref } from 'vue'

export default {
  props: {
    modelValue: {
      type: String,
      required: true
    },
    loading: {
      type: Boolean,
      default: false
    }
  },

  setup (props, { emit }) {
    const codeMirror = ref(null)

    const message = computed({
      get () {
        return props.modelValue
      },
      set (value) {
        emit('update:modelValue', value)
      }
    })

    onMounted(() => {
      codeMirror.value = new CodeMirror(document.getElementById('editor'), {
        value: message.value,
        mode: 'text'
      })

      codeMirror.value.on('change', (cm) => {
        message.value = cm.doc.getValue()
      })
    })

    onUnmounted(() => {
      codeMirror.value = null
    })
  }
}
</script>
