<template>
  <footer class="flex flex-col items-center text-sm text-orange-200">
    <span>Made with ♥ by <a href="https://dewadg.id">dewadg</a></span>
    <span>{{ version }}</span>
  </footer>
</template>

<script>
import { computed } from 'vue'
import pkg from '../../package.json'
import { useFetchApiVersion } from '@/api/versionApi'

export default {
  setup () {
    const { version, loading } = useFetchApiVersion()

    const versionString = computed(() => {
      return loading.value
        ? 'Loading versions...'
        : `${version.value}, cp Web v${pkg.version}`
    })

    return { version: versionString }
  }
}
</script>
