<template>
  <header class="mb-4 flex flex-col justify-center items-center">
    <router-link :to="{ name: 'home' }">
      <h1 class="text-5xl text-orange-100 font-bold">cp</h1>
    </router-link>
    <span class="text-lg italic text-orange-200">Just another pastebin-like site</span>
  </header>    
</template>
