<template>
  <input
    type="url"
    id="generated-url"
    readonly
    :value="url"
    class="bg-white border rounded text-sm p-1 focus:outline-none"
    @click="handleClick"
  />
</template>

<script>
export default {
  props: {
    url: {
      type: String,
      default: ''
    }
  },

  setup () {
    function handleClick () {
      document.querySelector('#generated-url').select()
      document.execCommand('copy')
    }

    return { handleClick }
  }
}
</script>
