<template>
  <router-view/>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap');

body {
  background: #9C4221;
  font-family: 'Baloo 2', sans-serif;
}
</style>
